body {
  color: blue;
  background: url('../img/beach3.jpeg');
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: :block;
  margin: 8px;
}

img.size {
  width: 620px;
  height: 300px
}

#blanks {
  font-family: 'Oswald', sans-serif;
}

#dl {
  display: none;
}

#dw {
  display: none;
}

#kw {
  display: none;
}

#ibiza {
  display: none;
}

#vancouver {
  display: none;
}

#whistler {
  display: none;
}

#mthood {
  display: none;
}

#amsterdam {
  display: none;
}


label {
  display: block;
}

select {
  display: block;
  margin: 1em 0 2em 0;
}
